# OS
.DS_Store

# Python/venv
**/__pycache__/
*.pyc
backend/.venv/
backend/dev.db*

# Env files
.env
backend/.env
.envrc

# Logs
api.log

# Frontend
frontend/node_modules/
frontend/dist/

# Exports (local)
exports/

